<html>
  <head>
    <title>Mobile Phones</title>
    <style> 
    .bg {
  background-color:#F0FFFF;
}
 h1 {
  font-size: 45px;
  font-weight: bold;
  text-align:center;
  color: #8A2BE2;
  opacity: .6;
}
 h2 {
  font-size: 45px;
  font-weight: bold;
  text-align:center;
  color: #0000FF;
}
.style1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #000000;
  }
	   
p{
  font-size: 30px;
  color: black;
}

a:link , a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #8FBC8F;
	background-color: #FFFFFF;
	display:block;
	}      
a:hover , a:active { 
	text-decoration: underline; 
	color: #9685BA;
	cursor: pointer;
	   }
 </style>
 </head>
   <body class="bg">

<span id="top"></span>
<a href="https://www.android.com/intl/en_in/" target="_blank"><img src="8.jpg" width="100" height="100" align="left"></a>


<a href="https://en.wikipedia.org/wiki/IOS" target="_blank"><img src="10.png" width="170" height="100" align="right"></a>
<h1>Revolutionizing the World!!</h1>
     <br>
     
     <h1>Comparing Iphone 7 and Google Pixel</h1>
     <br>
     <img src="01.jpg"  align="middle"><br>
	<h2>Google Pixel XL vs iPhone 7 Plus: Design</h2>
<br><p>Google's Pixel XL and Apple's iPhone 7 Plus both have solid, premium designs. They look different of course, but they both look great. The iPhone 7 Plus is all about metal, while the Pixel XL uses a combination of metal and glass. That distinct glass panel on the back ensure that it can't be confused with anything else on the market. </p>
<br>
<p>The iPhone 7 Plus is water and dust resistant with a rating of IP67, so should cope with being accidentally dropped in the bath, or being caught in drizzle. The iPhone 7 Plus has its fingerprint sensor on the front, while the Pixel XL's is positioned on the rear.</p>	   

<br><h2>Google Pixel XL vs iPhone 7 Plus: Display</h2>
<br><p>The Google Pixel XL and Apple iPhone 7 Plus both have 5.5-inch displays. The Pixel XL has a Quad HD resolution for a pixel density of 534ppi, and it uses AMOLED technology, while the iPhone 7 Plus has a Full HD resolution for a pixel density of 401ppi across the LCD screen.</p>
<br><p>Apple's trump card is 3D Touch, the company's version of pressure sensitive technology, meaning its display is more functional than the Pixel XL, with extra features available based on the force with which you press.</p>

<br><h2>Google Pixel XL vs iPhone 7 Plus: Camera</h2>
<br><p>The Google Pixel XL has a 12.3-megapixel rear camera with an aperture of f/2.0 and 1.55µm pixels. It features a dual-LED flash, phase detection autofocus and laser autofocus, along with video stabilisation. The front-facing camera is 8-megapixels with 1.4µm pixels and an aperture of f/2.4.</p>
<br><p>The Apple iPhone 7 Plus has a dual-lens setup on its rear comprising two 12-megapixel sensors, one wide-angle and one telephoto. The wide-angle sensor has an aperture of f/1.8 while the telephoto has an aperture of f/2.8 and optical image stabilisation and a quad-LED flash are also on board. The front-facing camera is 7-megapixels with an aperture of f/2.2 and a Retina Flash.</p>
	  
<br><h2>Google Pixel XL vs iPhone 7 Plus: Software</h2>
<br><p>The Google Pixel XL launched on Android Nougat 7.1 and it offers a pure Android experience with no bloatware. There is a new launcher, round app icons and it is the first phone to offer Google's Assistant built-in.</p>
<br><p>The Apple iPhone 7 Plus runs on iOS 10 and it will offer a streamlined experience for Mac users, like the Pixel XL does for Google users. There is no Google Assistant obviously, but Apple has Siri instead.</p>

<br><a href="http://www.gsmarena.com/compare.php3?idPhone1=8346&idPhone2=8064">For more details click here</a>
<p class="style1"> This site belongs to Akash Dhanesha &copy; </p> 
</body>
</html>
